.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.freeBox__yXo4R {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-right: 16px;
  padding-left: 16px;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__yYq9E {
  width: 100%;
  height: auto;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.freeBox__yYq9E > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__yYq9E > :global(.__wab_flex-container) > *,
.freeBox__yYq9E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yYq9E > :global(.__wab_flex-container) > picture > img,
.freeBox__yYq9E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.freeBox__q7KY3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 85vh;
  align-self: center;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__q7KY3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__q7KY3 > :global(.__wab_flex-container) > *,
.freeBox__q7KY3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__q7KY3 > :global(.__wab_flex-container) > picture > img,
.freeBox__q7KY3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.topSection:global(.__wab_instance) {
  position: relative;
  align-self: center;
}
.section__bAp8:global(.__wab_instance) {
  position: relative;
}
.freeBox__pAcZt {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__pAcZt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__pAcZt > :global(.__wab_flex-container) > *,
.freeBox__pAcZt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pAcZt > :global(.__wab_flex-container) > picture > img,
.freeBox__pAcZt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pAcZt {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pAcZt > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pAcZt > :global(.__wab_flex-container) > *,
  .freeBox__pAcZt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pAcZt > :global(.__wab_flex-container) > picture > img,
  .freeBox__pAcZt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.freeBox__f5Bu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.freeBox__f5Bu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__f5Bu > :global(.__wab_flex-container) > *,
.freeBox__f5Bu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f5Bu > :global(.__wab_flex-container) > picture > img,
.freeBox__f5Bu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__f5Bu {
    width: 100%;
    min-width: 0;
  }
}
.text__bXQr {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
}
.text__baslx {
  position: relative;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
}
.featureCard__ihw4A:global(.__wab_instance) {
  position: relative;
}
.svg__jx7MV {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__iuUXw {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__eW6FU:global(.__wab_instance) {
  position: relative;
}
.svg__ktUA {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__prJFx {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__paKz9:global(.__wab_instance) {
  position: relative;
}
.svg__x2YFy {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__ytbnx {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__jmbIj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jmbIj {
    width: 100%;
    min-width: 0;
  }
}
.img__bwk2M {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__bwk2M > picture > img {
  object-fit: cover;
}
.img__bwk2M > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__d4LPj {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 30%;
  width: 90%;
}
.img__d4LPj > picture > img {
  object-fit: cover;
}
.img__d4LPj > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__dtBh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background: rgb(98, 42, 210);
  min-width: 0;
  padding: 64px 0px;
}
.freeBox__enJjU {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-right: 16px;
  padding-left: 16px;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__tcXi2 {
  width: 100%;
  height: auto;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
}
.section__xgXdc:global(.__wab_instance) {
  align-self: center;
}
.text__eYgs6 {
  color: rgb(255, 255, 255) /* plasmic-token: 2QXwpzchZKpz */;
}
.text__w8DTk {
  color: rgb(104, 218, 132) /* plasmic-token: vaiH0GEC8Ah */;
}
.freeBox__v1Z1I {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 64px;
  min-width: 0;
}
.freeBox__v1Z1I > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__v1Z1I > :global(.__wab_flex-container) > *,
.freeBox__v1Z1I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v1Z1I > :global(.__wab_flex-container) > picture > img,
.freeBox__v1Z1I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__q0RIp:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__dEZv {
  position: relative;
  object-fit: contain;
  width: 48px;
  height: 48px;
}
.img__dEZv > picture > img {
  object-fit: contain;
}
.img__dEZv > .__wab_img-spacer > img {
  object-fit: contain;
}
.svg__hzlpn {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__qnW5X:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__aU9 {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.img__aU9 > picture > img {
  object-fit: cover;
}
.img__aU9 > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg__hG4Bd {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: 2QXwpzchZKpz */;
}
.svg__aJ125 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__i36J:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__z19 {
  position: relative;
  object-fit: cover;
  width: 64px;
  height: 64px;
}
.img__z19 > picture > img {
  object-fit: cover;
}
.img__z19 > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg__aj7So {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: 2QXwpzchZKpz */;
}
.text__sROjX {
  height: auto;
}
.svg__rfZvo {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox___5Gk4T {
  display: block;
  position: absolute;
  left: 50%;
  top: 95%;
  width: 2px;
  height: 88px;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: nOudy2sEETix */;
}
.freeBox___7TTmB {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-right: 16px;
  padding-left: 16px;
  flex-column-gap: 0px;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__njnos {
  width: 100%;
  height: auto;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.freeBox__njnos > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__njnos > :global(.__wab_flex-container) > *,
.freeBox__njnos > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__njnos > :global(.__wab_flex-container) > picture > img,
.freeBox__njnos
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.section__mr2On:global(.__wab_instance) {
  position: relative;
}
.freeBox__xfErF {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__xfErF > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__xfErF > :global(.__wab_flex-container) > *,
.freeBox__xfErF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xfErF > :global(.__wab_flex-container) > picture > img,
.freeBox__xfErF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__gGqq {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__mpX6O {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__lrGtb {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__raarh {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__jKq2S {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
