.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.freeBox__m8B5M {
  width: 100%;
  height: auto;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.freeBox__m8B5M > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__m8B5M > :global(.__wab_flex-container) > *,
.freeBox__m8B5M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m8B5M > :global(.__wab_flex-container) > picture > img,
.freeBox__m8B5M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__kyEva {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__kyEva > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__kyEva > :global(.__wab_flex-container) > *,
.freeBox__kyEva > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kyEva > :global(.__wab_flex-container) > picture > img,
.freeBox__kyEva
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kyEva {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kyEva > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kyEva > :global(.__wab_flex-container) > *,
  .freeBox__kyEva > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kyEva > :global(.__wab_flex-container) > picture > img,
  .freeBox__kyEva
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__ggGbz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.freeBox__ggGbz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__ggGbz > :global(.__wab_flex-container) > *,
.freeBox__ggGbz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ggGbz > :global(.__wab_flex-container) > picture > img,
.freeBox__ggGbz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ggGbz {
    width: 100%;
    min-width: 0;
  }
}
.text__rHpwR {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
  text-align: left;
}
.text__aznaT {
  position: relative;
  text-align: left;
}
.bullet__ntfFo:global(.__wab_instance) {
  position: relative;
}
.bullet___3XfGm:global(.__wab_instance) {
  position: relative;
}
.bullet__nHIpL:global(.__wab_instance) {
  position: relative;
}
.text___0MqIf {
  position: relative;
  text-align: left;
}
.freeBox__asJIj {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__asJIj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__asJIj > :global(.__wab_flex-container) > *,
.freeBox__asJIj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__asJIj > :global(.__wab_flex-container) > picture > img,
.freeBox__asJIj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__asJIj {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__asJIj > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__asJIj > :global(.__wab_flex-container) > *,
  .freeBox__asJIj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__asJIj > :global(.__wab_flex-container) > picture > img,
  .freeBox__asJIj
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__fTp6F {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fTp6F {
    width: 100%;
    min-width: 0;
  }
}
.img__a4GLg {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__a4GLg > picture > img {
  object-fit: cover;
}
.img__a4GLg > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__r8TSs {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 30%;
  width: 90%;
}
.img__r8TSs > picture > img {
  object-fit: cover;
}
.img__r8TSs > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__h7DMz {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__h7DMz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__h7DMz > :global(.__wab_flex-container) > *,
.freeBox__h7DMz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__h7DMz > :global(.__wab_flex-container) > picture > img,
.freeBox__h7DMz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__h7DMz {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__h7DMz > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__h7DMz > :global(.__wab_flex-container) > *,
  .freeBox__h7DMz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__h7DMz > :global(.__wab_flex-container) > picture > img,
  .freeBox__h7DMz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__mUsUa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mUsUa {
    width: 100%;
    min-width: 0;
  }
}
.img___2W2Z5 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___2W2Z5 > picture > img {
  object-fit: cover;
}
.img___2W2Z5 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__ssw4P {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 30%;
  width: 90%;
}
.img__ssw4P > picture > img {
  object-fit: cover;
}
.img__ssw4P > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__bp8Hm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.freeBox__bp8Hm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__bp8Hm > :global(.__wab_flex-container) > *,
.freeBox__bp8Hm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bp8Hm > :global(.__wab_flex-container) > picture > img,
.freeBox__bp8Hm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bp8Hm {
    width: 100%;
    min-width: 0;
  }
}
.text__jhCKb {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
  text-align: left;
}
.text__hmBxE {
  position: relative;
  text-align: left;
}
.bullet__cFrcK:global(.__wab_instance) {
  position: relative;
}
.bullet__ulIk:global(.__wab_instance) {
  position: relative;
}
.bullet__tpzix:global(.__wab_instance) {
  position: relative;
}
.text___3VttA {
  position: relative;
  text-align: left;
}
.freeBox__y81Px {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.freeBox__y81Px > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__y81Px > :global(.__wab_flex-container) > *,
.freeBox__y81Px > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__y81Px > :global(.__wab_flex-container) > picture > img,
.freeBox__y81Px
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y81Px {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y81Px > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y81Px > :global(.__wab_flex-container) > *,
  .freeBox__y81Px > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__y81Px > :global(.__wab_flex-container) > picture > img,
  .freeBox__y81Px
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
