.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.freeBox__lds2T {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-right: 16px;
  padding-left: 16px;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__gOo6 {
  width: 100%;
  height: auto;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.freeBox__gOo6 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__gOo6 > :global(.__wab_flex-container) > *,
.freeBox__gOo6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gOo6 > :global(.__wab_flex-container) > picture > img,
.freeBox__gOo6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.section__mqhs:global(.__wab_instance) {
  position: relative;
}
.freeBox__jLr6T {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__jLr6T > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__jLr6T > :global(.__wab_flex-container) > *,
.freeBox__jLr6T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jLr6T > :global(.__wab_flex-container) > picture > img,
.freeBox__jLr6T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jLr6T {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jLr6T > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jLr6T > :global(.__wab_flex-container) > *,
  .freeBox__jLr6T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__jLr6T > :global(.__wab_flex-container) > picture > img,
  .freeBox__jLr6T
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.freeBox__gtWQb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.freeBox__gtWQb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__gtWQb > :global(.__wab_flex-container) > *,
.freeBox__gtWQb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gtWQb > :global(.__wab_flex-container) > picture > img,
.freeBox__gtWQb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gtWQb {
    width: 100%;
    min-width: 0;
  }
}
.text__xzn2 {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
}
.text__xgLry {
  position: relative;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
}
.featureCard__gLqxa:global(.__wab_instance) {
  position: relative;
}
.svg__c6JDz {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__r2Pxn {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__zUMq0:global(.__wab_instance) {
  position: relative;
}
.svg___9RlIb {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__wiyxX {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__jtry1:global(.__wab_instance) {
  position: relative;
}
.svg__ntYWe {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__gdJmo {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__zsHT {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zsHT {
    width: 100%;
    min-width: 0;
  }
}
.img__qu4E {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__qu4E > picture > img {
  object-fit: cover;
}
.img__qu4E > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__nkPpw {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 30%;
  width: 90%;
}
.img__nkPpw > picture > img {
  object-fit: cover;
}
.img__nkPpw > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___1MBOx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 64px 0px;
}
.freeBox__qwIyf {
  display: block;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  left: 0px;
  top: 50%;
  width: 100%;
  bottom: 0%;
  height: auto;
  background: rgb(5, 5, 5);
}
.freeBox__wRsYs {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-right: 16px;
  padding-left: 16px;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__jUz87 {
  width: 100%;
  height: auto;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
}
.section__lso6H:global(.__wab_instance) {
  align-self: center;
}
.freeBox__grR9J {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 64px;
  min-width: 0;
}
.freeBox__grR9J > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__grR9J > :global(.__wab_flex-container) > *,
.freeBox__grR9J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__grR9J > :global(.__wab_flex-container) > picture > img,
.freeBox__grR9J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__vqC3:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__kyTm6 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: gEXDLRXWRSbjv1 */;
}
.svg__mTpS9 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___598Ad:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___7Nbd8 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: gEXDLRXWRSbjv1 */;
}
.svg__t1Fmn {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__p9XT7:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__ll47 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: gEXDLRXWRSbjv1 */;
}
.svg__qqgLx {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__bsWj9:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__nEQmd {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: gEXDLRXWRSbjv1 */;
}
.svg__e25Cx {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__whzLz:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__eOswx {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: gEXDLRXWRSbjv1 */;
}
.svg__cW64G {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__fDaue:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___6NaxT {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: gEXDLRXWRSbjv1 */;
}
.svg__jfJVx {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__q7YkL {
  display: block;
  position: absolute;
  left: 50%;
  top: 95%;
  width: 2px;
  height: 88px;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: mc2URDDHsRhf8I */;
}
.freeBox__tgJzO {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-right: 16px;
  padding-left: 16px;
  flex-column-gap: 0px;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__mdb5I {
  width: 100%;
  height: auto;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.freeBox__mdb5I > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__mdb5I > :global(.__wab_flex-container) > *,
.freeBox__mdb5I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mdb5I > :global(.__wab_flex-container) > picture > img,
.freeBox__mdb5I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.section__tc1Um:global(.__wab_instance) {
  position: relative;
}
.freeBox__kHxve {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__kHxve > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__kHxve > :global(.__wab_flex-container) > *,
.freeBox__kHxve > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kHxve > :global(.__wab_flex-container) > picture > img,
.freeBox__kHxve
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__r4Cv0 {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__q2Eno {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__t6QBh {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg___2Fv5Z {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg___8Rmd {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
