.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  padding-bottom: 32px;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 32px;
}
.freeBox__naiIb {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: mc2URDDHsRhf8I */;
}
.freeBox___7X71 {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox___7X71 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___7X71 > :global(.__wab_flex-container) > *,
.freeBox___7X71 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7X71 > :global(.__wab_flex-container) > picture > img,
.freeBox___7X71
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7X71 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7X71 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7X71 > :global(.__wab_flex-container) > *,
  .freeBox___7X71 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___7X71 > :global(.__wab_flex-container) > picture > img,
  .freeBox___7X71
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__xfWcp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 128px;
  flex-shrink: 0;
}
.freeBox__xfWcp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__xfWcp > :global(.__wab_flex-container) > *,
.freeBox__xfWcp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xfWcp > :global(.__wab_flex-container) > picture > img,
.freeBox__xfWcp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.iconLink__i2Pjn:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__yEKt {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.freeBox__em1R2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__ky1Lj {
  color: #666666 /* plasmic-token: k_ic1DexBT_yy7 */;
  font-size: 14px;
}
.root .link__ky1Lj:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.text__tMm8I {
  position: relative;
  font-size: 14px;
  color: #666666 /* plasmic-token: k_ic1DexBT_yy7 */;
}
.link__xKx1W {
  position: relative;
  color: #666666 /* plasmic-token: k_ic1DexBT_yy7 */;
  font-size: 14px;
}
.root .link__xKx1W:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox___6BFpD {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___6BFpD > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___6BFpD > :global(.__wab_flex-container) > *,
.freeBox___6BFpD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6BFpD > :global(.__wab_flex-container) > picture > img,
.freeBox___6BFpD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6BFpD {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6BFpD > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6BFpD > :global(.__wab_flex-container) > *,
  .freeBox___6BFpD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___6BFpD > :global(.__wab_flex-container) > picture > img,
  .freeBox___6BFpD
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__upK8V {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__upK8V > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__upK8V > :global(.__wab_flex-container) > *,
.freeBox__upK8V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__upK8V > :global(.__wab_flex-container) > picture > img,
.freeBox__upK8V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__jfZ4 {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__y8Mxe {
  font-size: 14px;
  position: relative;
  color: #666666 /* plasmic-token: k_ic1DexBT_yy7 */;
}
.root .link__y8Mxe:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__mK4N {
  position: relative;
  color: #666666 /* plasmic-token: k_ic1DexBT_yy7 */;
  font-size: 14px;
}
.root .link__mK4N:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__p76EY {
  position: relative;
  color: #666666 /* plasmic-token: k_ic1DexBT_yy7 */;
  font-size: 14px;
}
.root .link__p76EY:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__wJgEn {
  position: relative;
  color: #666666 /* plasmic-token: k_ic1DexBT_yy7 */;
  font-size: 14px;
}
.root .link__wJgEn:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__kokKo {
  position: relative;
  color: #666666 /* plasmic-token: k_ic1DexBT_yy7 */;
  font-size: 14px;
}
.root .link__kokKo:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__fa7Ql {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__fa7Ql > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__fa7Ql > :global(.__wab_flex-container) > *,
.freeBox__fa7Ql > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fa7Ql > :global(.__wab_flex-container) > picture > img,
.freeBox__fa7Ql
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__iL1Yq {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__iyVNl {
  position: relative;
  color: #666666 /* plasmic-token: k_ic1DexBT_yy7 */;
  font-size: 14px;
}
.root .link__iyVNl:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__djVxP {
  position: relative;
  color: #666666 /* plasmic-token: k_ic1DexBT_yy7 */;
  font-size: 14px;
}
.root .link__djVxP:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__hdsdS {
  position: relative;
  color: #666666 /* plasmic-token: k_ic1DexBT_yy7 */;
  font-size: 14px;
}
.root .link__hdsdS:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___3GojR {
  position: relative;
  color: #666666 /* plasmic-token: k_ic1DexBT_yy7 */;
  font-size: 14px;
}
.root .link___3GojR:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__r6GF {
  position: relative;
  color: #666666 /* plasmic-token: k_ic1DexBT_yy7 */;
  font-size: 14px;
}
.root .link__r6GF:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox___3IjYf {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox___3IjYf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___3IjYf > :global(.__wab_flex-container) > *,
.freeBox___3IjYf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3IjYf > :global(.__wab_flex-container) > picture > img,
.freeBox___3IjYf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__pBo2 {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__qmhUp {
  position: relative;
  color: #666666 /* plasmic-token: k_ic1DexBT_yy7 */;
  font-size: 14px;
}
.root .link__qmhUp:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__bg4HS {
  position: relative;
  color: #666666 /* plasmic-token: k_ic1DexBT_yy7 */;
  font-size: 14px;
}
.root .link__bg4HS:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__v1Pfc {
  position: relative;
  color: #666666 /* plasmic-token: k_ic1DexBT_yy7 */;
  font-size: 14px;
}
.root .link__v1Pfc:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__jXxX6 {
  position: relative;
  color: #666666 /* plasmic-token: k_ic1DexBT_yy7 */;
  font-size: 14px;
}
.root .link__jXxX6:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___5ZmQl {
  position: relative;
  color: #666666 /* plasmic-token: k_ic1DexBT_yy7 */;
  font-size: 14px;
}
.root .link___5ZmQl:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__gJmFg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
}
.freeBox__gJmFg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__gJmFg > :global(.__wab_flex-container) > *,
.freeBox__gJmFg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gJmFg > :global(.__wab_flex-container) > picture > img,
.freeBox__gJmFg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__lO4Av {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.text__targV {
  position: relative;
  font-size: 14px;
  color: #666666 /* plasmic-token: k_ic1DexBT_yy7 */;
}
.freeBox__bq1Q {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 0;
  border-radius: 5px;
  border: 1px solid rgb(228, 230, 235) /* plasmic-token: 4QM1pZKqI */;
}
.textbox {
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-width: 0px;
}
.freeBox__vZaKx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 1px;
  height: 16px;
  background: rgb(228, 230, 235);
  flex-shrink: 0;
}
.button {
  position: relative;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 1px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  border-style: none;
}
.svg___4Og8 {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
  flex-shrink: 0;
}
.freeBox__wMQw {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: mc2URDDHsRhf8I */;
}
.freeBox__yrXfr {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__yrXfr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yrXfr {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yrXfr > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yrXfr > :global(.__wab_flex-container) > *,
  .freeBox__yrXfr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yrXfr > :global(.__wab_flex-container) > picture > img,
  .freeBox__yrXfr
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__mfaXq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__mxdsr {
  position: relative;
  color: #666666 /* plasmic-token: k_ic1DexBT_yy7 */;
  height: auto;
  font-size: 14px;
}
.root .link__mxdsr:hover {
  text-decoration-line: underline;
}
.link___4FjVs {
  position: relative;
  color: #666666 /* plasmic-token: k_ic1DexBT_yy7 */;
  font-size: 14px;
}
.root .link___4FjVs:hover {
  text-decoration-line: underline;
}
.text__qt5S {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: #666666 /* plasmic-token: k_ic1DexBT_yy7 */;
  display: inline-block;
}
.freeBox___24Ip1 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___24Ip1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___24Ip1 > :global(.__wab_flex-container) > *,
.freeBox___24Ip1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___24Ip1 > :global(.__wab_flex-container) > picture > img,
.freeBox___24Ip1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__fGa7L:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__avkHu {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__avkHu:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__eZxf2:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___8STkR {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg___8STkR:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__fxOht:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___9Fk5N {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg___9Fk5N:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
